/**********************************
GENERAL
**********************************/

*, *:before, *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	margin:0 auto;
	font-family: Verdana, Arial, sans-serif;
}

a {
	text-decoration: none;
}

/**********************************
HEADER
**********************************/
body > header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 70px;
	text-align: center;
	border-bottom: 2px solid black;
	background-color: white;
}

body > header h1 {
	float: left;
	font-family: "Times New Roman", Georgia, serif;
	/*
	
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);

	 */
}

body > header h5 {
	float: right;
	width: 300px;
	text-align: right;
	margin-top: 0;
}

body > header > section {
	height: 70px;
	padding-left: 20px;
	padding-right: 20px;
}

.section_width {
	width: 790px;
	margin: 0 auto;
}

/**********************************
PAGE: Resume
**********************************/
body > section {
	width: 790px;
	padding-top:75px;
}
section, article > header > h2 {
	text-align: left;
	clear: both;
}

 article > header > h2 {
	margin-bottom: 0;
	padding-left: 20px;
	padding-bottom: 0;
	display: block;
	border: none;
 }

article > section {
	border-radius:7px 30px;
	padding: 10px;
}

section section h3 {
	margin-top: 2px;
	margin-bottom: 2px;
}

h3:first-child {
	color: #DFE1E0;
}



/**********************************
FOOTER
**********************************/
footer {
	text-align: center;
}

/***********************************
COLORS
***********************************/
html, body {
	background-color: #DFE1E0; /* default background color */
}
body {
	color: #000; /* default font color  */
}
article > section {
	background-color: #6A7C88; /* background for job descriptions */
}
article > header > h2 {
	color: #F88B00; /* Category headings */
}
h3 > a:link, h3 > a:visited {
	color: #DFE1E0; /* Individual job headings */
}
h3 > a:hover {
	color: #42546C; /* Individual job headings */
}








